@font-face{
  font-family:'hyperspace';
  font-weight:300;
  src: url('fonts/hyperspace/regular.otf');
  font-display:swap;
}
@font-face{
  font-family:'raleway';
  font-weight:400;
  src: url('fonts/raleway/regular.woff2') format('woff2'),url('fonts/raleway/regular.woff') format('woff');
  font-display:swap;
}
@font-face{
  font-family:'raleway';
  font-weight:300;
  src: url('fonts/raleway/light.woff2') format('woff2'),url('fonts/raleway/light.woff') format('woff');
  font-display:fallback;
}
html,body{
  margin:0 1rem;
}
body{
  background:#000;
  cursor:url(cursor/white/up-blank.svg),auto;
  overflow-y:scroll;
  color:#fff;
  font-family:raleway,sans-serif;
  letter-spacing:.1rem;
  font-weight:400;
  font-size:2rem;
}
body.day{
  background:#ddd;
  color:#444;
  cursor:url(cursor/gray/up-blank.svg),auto;
}
a[href^='#']{
  text-decoration:none;
  cursor:url(cursor/white/right-blank.svg) 128 0,pointer;
}
.day a[href^='#']{
  cursor:url(cursor/gray/right-blank.svg) 128 0,pointer;
}
a{
  color:inherit;
  text-decoration:underline;
  cursor:url(cursor/white/out.svg) 128 0,pointer;
}
.day a{
  cursor:url(cursor/gray/out.svg) 128 0,pointer;
}
h1::first-letter{
  font-family:hyperspace,raleway,sans-serif;
  font-size:5.5rem;
  margin-right:-.4rem;
}
h1{
  font-weight:300;
  font-size:3rem;
}
p{
  box-sizing:border-box;
  padding:0 1rem;
}
::selection{
  background:#fff;
}
#content-wrapper{
  margin:0 calc(40vw - 40vmin);
  box-sizing:border-box;
  padding-top:100vh;
}
#logo-wrapper{
  position:absolute;
  top:calc(50vh - 45vmin);
  left:calc(50% - 50vmin);
  width:100vmin;
  height:100vmin;
  clip-path:polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
}
.day #logo-wrapper{
  stroke:#444;
}
#down,#wire{
  pointer-events:all;
}
#wire{
  cursor:url(cursor/white/up.svg),pointer;
}
.day #wire{
  cursor:url(cursor/gray/up.svg),pointer;
}
#down{
  cursor:url(cursor/white/down.svg) 128 128,pointer;
}
.day #down{
  cursor:url(cursor/gray/down.svg) 128 128,pointer;
}
#logo-wrapper{
  stroke-width:.4rem;
}
#arcade{
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  pointer-events:none;
}
#cursor{
  position:absolute;
  left:0;
  top:0;
  width:32px;
  height:32px;
  transform-origin:44.415px 74px;
}
#asteroids{
  left:0;
  top:0;
  width:100vmax;
  height:100vmax;
  display:none;
}
.hitAsteroid{
  animation:.1s hitAsteroid forwards;
}
#up{
  left:0;
  position:fixed;
  width:calc(10vw - 10vmin);
  height:100vh;
  cursor:url(cursor/white/up.svg),auto;
}
.day #up{
  cursor:url(cursor/gray/up.svg),pointer;
}
@keyframes hitAsteroid{
  0%{fill:#fff}
  99%{opacity:0;fill:#fff}
  100%{opacity:0}
}
