<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

  <body>
    <svg id='logo-wrapper' viewBox='0 100 1800 1900' stroke-linecap='round' stroke-linejoin='round' fill='none' stroke='#000' stroke-width='4'>
      <title>Logo of 15303 Space Rocks</title>
        <path id='wirex' d='
        M900 500l500 500l-500 500l-500 -500z
        '/>
        <g id='wire' transform='translate(900 1000)'>
          <path d='M   0 -500l500 500l-500 500l-500 -500z'/>
          <path d='M-100    0l600 -100l400 100l-600 100z'/>
          <path d='M   0 -500l100 400l-100 600l-100 -400'/>
        </g>
        <path id='logo' d='
    M682.5 667.5l-150 -150v50v-50z
    M707.5 642.5l100 -100l-50 -100l-125 125l-75 -75l150 -150
    M832.5 517.5l50 -50v-150l-100 100l100 -100v-150l-150 150
    M917.5 467.5l82.5 82.5l100 -200l-182.5 -182.5z
    M1025 575l100 100l75 -75l-125 -125l125 125l75 -75l-150 -150
    
    M450 1100l-75 -75l-75 75l75 75l-75 75l-75 -75
    M475 1125l-150 150l150 -150l75 75l-75 75l-75 -75
    M632.5 1267.5h-100l-107.5 107.5l77.5 -75l100 100l-75 75l107.5 -107.5v-100
    M775 1425l-75 -75l-150 150l75 75
    M875 1525l-75 -75l-75 75l50 50l-50 -50l-75 75l75 75
    
    M925 1525l150 150l-150 -150l75 -75l75 75l-75 75h150
    M1125 1325l-100 100l150 150l100 -100z
    M1225 1225l-75 75l150 150l75 -75
    M1250 1200l150 150l-75 -75h150h-150v-150
    M1425 1025l-75 75l75 75l75 -75l75 75l-75 75
        '/>
        <g id='down' transform='translate(900 1800)'>
          <path d='M-100 -100L0 -50L100 -100'/>
          <path d='M-100 -100L0   0L100 -100'/>
          <path d='M-100 -100L0  50L100 -100'/>
        </g>
      </svg>
    <script>
const doc = document,
      ref = doc.referrer,
      contentWrapper = doc.getElementById('content-wrapper'),
      logoWrapper = doc.getElementById('logo-wrapper'),
      down = [doc.getElementById('down0'),doc.getElementById('down1'),doc.getElementById('down2')]

draw()

        
function draw(){
  const t = performance.now()/1000
  const pi = Math.PI
  const sin = Math.sin(t)
  const sin1 = Math.sin(t+pi*2/3)
  const sin2 = Math.sin(t+pi*4/3)
  const cos = Math.cos(t)
  const cos1 = Math.cos(t+pi*2/3)
  const cos2 = Math.cos(t+pi*4/3)

const path = a => 'M' + a.join('L') + 'z'
  
  const x = 900
  const z = 1800
  const dy = Math.sin(t/4)*100
  
  const wt = '0 -450'
  const w = [
    [cos, sin],
    [-sin, cos],
    [-cos, -sin],
    [sin, -cos]
  ].map(([a,b])=>a*900/2+' '+b*dy)
  const wb = '0 450'
  
  const wires = [
    [wt, w[0], wb, w[2]],
    w,
    [wt, w[1], wb, w[3]],
  ]
  
  const dt = '-150 -100'
  const d = [
    [cos, sin],
    [cos1, sin1],
    [cos2, sin2],
  ].map(([a,b])=>a*10+' '+b*50)
  const db = '150 -100'
  const downs = [
    [dt, d[0], db],
    [dt, d[1], db],
    [dt, d[2], db],
  ]
  
  Array.from(document.getElementById('wire').children)
  .forEach((wire,index)=>wire.setAttribute('d',path(wires[index])))

  Array.from(document.getElementById('down').children)
    .forEach((down,index)=>down.setAttribute('d',path(downs[index])))
 
  requestAnimationFrame(draw)
}
    </script>
  </body>




<!-- end custom head snippets -->
